// Setup of colors

$primaryRed: #ff4d4f;
$primaryBlue: #1baad0;
$primaryYellow: #ffae36;
$primaryGrey: #5e5e5e;
$blue: #428bca;
$teal: #12a2b9;
$grey: #333333;
$tan: #f2eee9;
$white: #ffffff;
$black: #000000;

// Media Queries
$mobile: 420px;
$tablet: 768px;
$desktop: 1024px;

// Font Size

$font-size: 62.5%;